.product_item {
  position: relative;

  overflow: hidden;
}
.product_item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.608);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.product_item:hover::after {
  /* visibility: visible; */
  opacity: 1;
}

.product_item .product_info {
  color: white;
  padding: 10px 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(190px);
  transition: all 0.3s;
  z-index: 1;
}

.product_item:hover .product_info {
  transform: translateY(0);
}
.product_cart i {
  font-size: 15px;
}

.page_carousel .image_item img {
  height: 70vh;
  /* width: 100%; */
  object-fit: cover;
}

.homeSupport__item img {
  /* font-size: 35px; */
  width: 80%;
}
/* .page_contact .contact__item */
.page_contact .contact__item {
  border: 1px solid rgb(164, 164, 164);
  border-radius: 8px;
  position: relative;
}

.page_contact .btn_contact {
  padding: 8px 40px;
  background: #000;
  color: white;
  border-radius: 35px;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.page_subscription {
  background: url("//cdn.shopify.com/s/files/1/0104/6917/9492/files/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9_1920X_1.jpg?v=1621342028");
  color: white;
}
.subscription__main {
  position: relative;
  display: inline-block;
}

.subscription__main .subscription__email {
  /* position: relative; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  border-radius: 50px;
}
.subscription__btn {
  background: #000;
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.side-nav {
  position: fixed;
  background: white;
  color: black;
  opacity: 0.8;
  height: 100%;
  width: 20%;
  flex-direction: column;
  top: 0;
  right: -100%;
  z-index: 10;
  overflow: hidden;
  transition: 0.5s;
}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  display: block;
  top: 0;
  left: 0;
  z-index: 5;
}
.product_cartContent {
  border-bottom: 1px solid #b1b1b1;
}
.product_cartContent .cardText_capacity {
  font-size: 0.8rem;
}

.product_cartContent .cartBtn {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: black;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background: transparent;
}

.product_paymentWrap {
  padding: 20px 0;
  border-bottom: 1px solid #b1b1b1;
}

.product_paymentScreen {
  position: fixed;
  background: white;
  color: black;
  opacity: 0.8;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  overflow: hidden;
  transition: 0.5s;
}
